/*html {
    margin: 0;
    padding: 0;
    }   */
    
body {
    font-family: 'Montserrat', 'sans-serif';
    text-align: center;   
    background-color:#fcfafa ;
   }

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #fcfafa;
    text-align: center;
}

/* Navbar links */
#navbar a {
    display: inline-block; /* zorgt dat items horizontaal worden */
    color: #E34C26;
    text-align: center;
    padding: 14px; /*hoogte nav bar */
    font-family: 'Roboto', 'sans-serif'; 
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing:40px;
    text-decoration: none;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 60px;
}

#navbar a:hover {
    background: #fcfafa;
    text-decoration:underline;
    text-decoration-color: #2C3539;
}
.container {
    position: absolute;
    width:50%;
    left: 25%;
    border: solid 2px #C06014
    
    
    }

.image {
    display:block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0,0.5);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: 1s ease-in-out/*hiermee kun je veranderen hoe lang de transitie duurt */
}
.container:hover .overlay {
    bottom: 0;
    height: 100%;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

footer {
   background-color: #fcfafa ;
   position: absolute;
   bottom: -40px;
   width: 100%;
   height: 20px;
    
}





