html {
    margin: 0;
    padding: 0;
    }   
    
body {
    font-family: 'Roboto','sans-serif';
    text-align: center;   
    background-image: url("/img/code.jpg"); 
    background-size: cover; 
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color:#83817f;
    text-align:center;
}
/* Navbar links */
#navbar a {
    display: inline-block; /* zorgt dat items horizontaal worden */
    color:#C06014;         /* #f2f2f2; alt color??*/
    text-align: center;
    padding: 14px; /*hoogte nav bar */
    text-decoration: none;
    }
/* Page content */
.content {
    padding: 16px;
}
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}   
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
} 
#navbar a:hover {
    background: #cdcdcd; /* achtergrond kleur bij hover */
    }

.bigwrapper{
    display: grid;
    grid-template-columns: repeat(4 [col] auto);
    grid-template-rows: repeat (6 [row] auto);
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
  }

div.big-container{
    margin: 10px;
    padding: 40px; 
    text-align: center;
    color: black;
    font-size: 60px;
    }
div.big-container>p{
    margin: 10px;
    padding: 40px;
    text-align: center;
    color: #c06014;
    font-size: 80px;   
}

    