html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'montserrat', 'sans-serif';
    text-align: center;
    background-image: url("/img/code.jpg");
    background-size: cover;
}

#navbar {
    overflow: hidden;
    text-align: center;
}

#navbar a {
    display: inline-block;
    color: #E34C26;
    text-align: center;
    padding: 14px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 40px;
    text-decoration: none;
}

.content {
    padding: 16px;
}
#navbar a:hover {
  background: #fcfafa;
  text-decoration: underline;
  text-decoration-color: #2C3539;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

#navbar a:hover {
    text-decoration: underline;
    text-decoration-color: #2C3539;
}

.bigwrapper {
    display: grid;
    grid-template-columns: repeat(4 [col] auto);
    grid-template-rows: repeat (6 [row] auto);
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}


div.big-container {
    margin: 10px;
    padding: 40px;
    text-align: center;
    color:#2C3539;
    font-size: 60px;
}

div.big-container>p {
    margin: 10px;
    padding: 40px;
    text-align: center;
    color:#E34C26;
    font-size: 80px;
}