html {
    margin: 0;
    padding: 0;
    }   
    
body {
    font-family: 'Roboto','sans-serif';
    text-align: center;       
    background-image: url("img/code.jpg"); 
    background-size: cover; 
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color:#83817f;
    text-align:center;
}
/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #fcfafa;
    text-align: center;
}

/* Navbar links */
#navbar a {
    display: inline-block; /* zorgt dat items horizontaal worden */
    color: #E34C26;
    text-align: center;
    padding: 14px; /*hoogte nav bar */
    font-family: 'Roboto', 'sans-serif'; 
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing:40px;
    text-decoration: none;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 60px;
}

#navbar a:hover {
    background: #fcfafa;
    text-decoration:underline;
    text-decoration-color: #2C3539;
   }

.bigwrapper{
    max-width: auto; 
    max-height: auto;
    background-color: #fcfafa;
    padding: 100px;
        }
 
        /* Dropdown Button */
.dropbtn {
    background-color: #E34C26;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
    
  

div.big-container{
    margin: 0px;
    padding: 0px; 
    text-align: center;
    color: black;
    font-size: 30px;
    background-color:#fcfafa;
    height:200px;
    width:100%;   
    box-sizing:border-box;  
}

div.big-container>p{
    text-align: center;
    color: black;
    font-size: 16px;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    width:100%;
    vertical-align: middle;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 25%;
      max-width: 100%;
    }
  }
  @media screen and (min-width:1000px) { /*toegvoegd voor grotere schermen/resoluties */
    .column {
      flex: 10%; 
      max-width:100%; /* lager is niet schermvullend */
     } 
    }        

  /* evt oefenen met javascript size veranderen met size veranderen door klikken van button */
    