html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', 'sans-serif';
    text-align: center;
    background-color: #fcfafa;
}

#navbar {
    overflow: hidden;
    background-color: #fcfafa;
    text-align: center;
}

#navbar {
    overflow: hidden;
    background-color: #fcfafa;
    text-align: center;
}

#navbar a {
    display: inline-block;
    color: #E34C26;
    text-align: center;
    padding: 14px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 40px;
    text-decoration: none;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

#navbar a:hover {
    background: #fcfafa;
    text-decoration: underline;
    text-decoration-color: #2C3539;
}

.bigwrapper {
    max-width: auto;
    max-height: auto;
    background-color: #fcfafa;
    padding: 100px;
}

.dropbtn {
    background-color: #E34C26;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2e3c40;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcfafa;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #E34C26;
}

.show {
    display: block;
}

div.big-container {
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: black;
    font-size: 30px;
    background-color: #fcfafa;
    height: 200px;
    width: 100%;
    box-sizing: border-box;
}

div.big-container>p {
    text-align: center;
    color: black;
    font-size: 16px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    width: 100%;
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 25%;
        max-width: 100%;
    }
}

@media screen and (min-width:1000px) {
    
    .column {
        flex: 10%;
        max-width: 100%;       
    }
}

