body {
    background: #fcfafa
}    

#navbar {
    overflow: hidden;
    background-color: #fcfafa;
    text-align: center;
}

#navbar a {
    display: inline-block;
    color: #E34C26;
    text-align: center;
    padding: 14px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 40px;
    text-decoration: none;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

#navbar a:hover {
    background: #fcfafa;
    text-decoration: underline;
    text-decoration-color: #2C3539;
}

.wrapper {
    box-sizing: block;
    border: 3px solid #E34C26;
    padding:10px;
    margin: 100px;
    height: 700px;
    width: 1300px;   
}

.column1 {
    display:block;
    float: left;
    width: 50%;
    height:600px;
    background:#2C3539;
    background:url(/img/code.jpg);
    background-size:contain;    
}

.column2 {
    display:block;
    float: left;
    width: 50%;
    height: 600px;
    background: #2C3539;  
    }
h2 {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 40px;
    text-align: center;
}
p {font-family: 'Montserrat', 'sans-serif';
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}


#myProgress {
    width: 95%;
    background-color: grey;
    border: 2px solid black;
    margin: 0px 5px 0px 5px;
    
}
#myBar {
    width: 100%;
    height: 30px;
    background-color:#E34C26;
    text-align: center; 
    color:white;
    line-height: 30px; 
}

